.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: var(--header-height-desktop);
}

@media (max-width: 768px) {
  .content {
    padding-top: var(--header-height-mobile);
  }
}
